body{

}
.div1{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 5px solid green;
    border-radius: 3pc;
}
.div2{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 5px solid green;
    border-radius: 3pc;
}
.div3{
    display: inline-block;
    justify-content: left;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: 5px solid green;
    border-radius: 3pc;
}